<a class="btn py-1 {% if request.resolver_match.url_name == 'user' %}active fw-bold{% endif %}"
   title="My Profile"
   href="{% url 'user' %}">🏠</a>

<a class="btn py-1 {% if request.resolver_match.url_name == 'thread_detail' %}active fw-bold{% endif %}"
   title="Messages"
   href="{% url 'thread_detail' %}">✉</a>

<a class="btn py-1 {% if request.resolver_match.url_name == 'order_manager' %}active fw-bold{% endif %}"
   title="My Orders"
   href="{% url 'order_manager' %}">☲</a>

<a class="btn py-1 {% if request.resolver_match.url_name == 'settings' %}active fw-bold{% endif %}"
   title="Settings"
   href="{% url 'settings' %}">🛠</a>

