{% extends "account/base.html" %}
{% load static %}

{% block content %}
<html lang="en">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Register - RedMarket</title>
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>

        <div class="messages">
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
{% endblock %}

