{% extends "base_hx.html" %}

{% block content %}

<div class>
  {% include "market_sb.html" %}

  <h1 class="mb-4">Recent Orders</h1>

  <table class="table table-hover table-striped text-center align-middle border sh-b">
    <thead class="table">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>
            {% if order.material %}{{ order.material }} {% endif %}{{ order.item_type }}
          </td>
          <td>{{ order.price }}</td>
          <td>{{ order.quantity }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3" class="text-muted">No orders found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
