<div id="messages-list">
  {% if page_obj.has_next %}
    <div id="load-more" class="text-center mb-2">
      <button
        class="btn btn-sm btn-outline-secondary"
        hx-get="?page={{ page_obj.next_page_number }}"
        hx-target="#load-more"
        hx-swap="outerHTML"
        hx-headers='{"HX-Request-Partial": "messages"}'
        hx-indicator="#loading-indicator">
        Load older messages
      </button>
    </div>
  {% endif %}
  
  {% for msg in messages %}
  <div class="d-flex mb-2 {% if msg.sender == request.user %}justify-content-end{% endif %}">
    <div class="p-2 rounded {% if msg.sender == request.user %}border{% else %}bg-primary text-white border{% endif %}"
        style="max-width:75%;">
    <p class="mb-1">
      {% for user in thread.participants.all %}
      {% if user != request.user and msg.sender == user %}
          <strong>{{ user.username }}</strong><br>
      {% endif %}
      {% endfor %}
      {{ msg.content }}
  </p>
    <small class="text-muted">{{ msg.created_at|date:"d.m, H:i" }}</small>
    </div>
  </div>
  {% endfor %}
</div> 