{% load static %}
{% load custom_tags %}

<div id="user-card" class="card mb-3 border-0 mt-5 align-items-start" style="max-width: 540px;">
  <div class="row align-items-center">
    <div class="col-md-4 text-center p-0">
      <img src="https://mc-heads.net/head/{{ public_user.mc_username }}/128"
           class="img-fluid"
           alt="{{ public_user.mc_username }}">
    </div>
    <div class="col-md-8">
      <div class="card-body ps-0">
        <h5 class="card-title mb-1">{{ public_user.mc_username }}</h5>
        <p class="card-text mb-2 d-flex align-items-center">
          <span class="me-1">{{ public_user.reputation_score }}</span>
          <img src="{% static public_user.reputation_score|rep_icon %}"
               width="18"
               alt="Reputation icon">
        </p>
        <div class="d-flex gap-2">
          <button type="button"
                  class="btn btn-sm btn-outline-secondary flex-fill rounded-0"
                  hx-get="{% url 'start_message' public_user.mc_username %}"
                  hx-target="#profile-container"
                  hx-push-url="true"
                  hx-swap="outerHTML"
                  hx-headers='{"HX-Request-Partial": "body"}'>
            Message
          </button>

          <div class="btn-group flex-fill" role="group">
            {% if can_repute and not already_repped %}
              <a type="button"
                      class="btn btn-sm btn-outline-secondary rounded-0"
                      hx-get="{% url 'profile_reputation' public_user.mc_username %}"
                      hx-target="#mainModal .modal-content"
                      hx-swap="innerHTML"
                      hx-headers='{"HX-Request-Partial": "reputation"}'
                      data-bs-toggle="modal"
                      data-bs-target="#orderModal"
                      href="">
                Reputation
              </a>

              <button type="button"
                      class="btn btn-sm btn-outline-secondary rounded-0"
                      hx-get="{% url 'profile_reputation' public_user.mc_username %}"
                      hx-target="#mainModal .modal-content"
                      hx-swap="innerHTML"
                      hx-headers='{"HX-Request-Partial": "report"}'
                      data-bs-toggle="modal"
                      data-bs-target="#orderModal"
                      href="">
                Report
              </button>
              
            {% elif already_repped and existing_rep %}
              <div class="d-flex align-items-center gap-2">
                <button type="button"
                        class="btn btn-sm btn-outline-{% if existing_rep.is_negative %}danger{% else %}success{% endif %} rounded-2 reputation-popover-btn"
                        data-created-date="{{ existing_rep.created_at|date:'Y-m-d H:i' }}">
                        {{ existing_rep.badge|title }}
                </button>
              </div>
            {% else %}
              <div class="d-flex flex-column">
                <small class="text-muted">Login to give reputation</small>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>