{% load static %}

<div class="position-relative d-flex align-items-center">
  <input id="item-search" type="text"
         class="form-control sh-b rounded-0 pe-5"
         placeholder="Search Item Type..."
         value="{{ selected_type|default:'' }}"
         autocomplete="off"
         aria-label="Search item type"
         >

  <button type="button" id="clear-btn"
          class="btn btn-sm position-absolute top-50 translate-middle-y end-0 me-1 d-none"
          aria-label="Clear search">
    &times;
  </button>
</div>

<ul id="suggestions"
  class="list-group position-absolute w-100 mt-1 d-none border rounded-0"
  style="z-index: 1000; max-height: 290px; overflow-y: auto;">
</ul>


<script>
    window.itemTypes = {{ enriched_types_json|safe }};
</script>

<script src="{% static 'js/market_search_bar.js' %}"></script>

