<div id="orders-table">

  {% include "order/filters_partial.html" %}

  <table class="table table-hover align-middle text-center table-striped border sh-b">
      <thead>
        <tr>
          <th class="text-start fw-normal">Seller</th>
          <th class="text-start fw-normal">Rep</th>
          {% if item_type.materials.exists %}
            <th class="text-start fw-normal ps-4">Material</th>
          {% endif %}
          {% if item_type.enchantments.exists %}
            <th>
              <button class="btn p-0 enchant-table">Enchants</button>
            </th>
          {% endif %}
          <th>
            <form id="price-sort-form"
                  hx-get="{% url 'order_detail' slug=item_type.slug %}"
                  hx-target="#orders-table"
                  hx-swap="outerHTML"
                  hx-headers='{"HX-Request-Partial": "table"}'
                  hx-include="#current-filters"
                  class="mb-0">

              <input type="hidden" name="sort" value="price">
              <input type="hidden" name="direction"
                     value="{% if current_sort == 'price' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">

              <button class="btn p-0" type="submit" id="price-btn">
                Price
                {% if current_sort == 'price' %}
                  {% if current_direction == 'asc' %}
                    ▲
                  {% else %}
                    ▼
                  {% endif %}
                {% endif %}
              </button>
            </form>
          </th>
          <th>
            <form id="quantity-sort-form"
                  hx-get="{% url 'order_detail' slug=item_type.slug %}"
                  hx-target="#orders-table"
                  hx-swap="outerHTML"
                  hx-headers='{"HX-Request-Partial": "table"}'
                  hx-include="#current-filters"
                  class="mb-0">

              <input type="hidden" name="sort" value="quantity">
              <input type="hidden" name="direction"
                     value="{% if current_sort == 'quantity' and current_direction == 'asc' %}desc{% else %}asc{% endif %}">

              <button class="btn p-0" type="submit" id="quantity-btn">
                Quantity
                {% if current_sort == 'quantity' %}
                  {% if current_direction == 'asc' %}
                    ▲
                  {% else %}
                    ▼
                  {% endif %}
                {% endif %}
              </button>
            </form>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody id="orders-table-body">
        {% include "order/order_table_rows.html" %}
      </tbody>
  </table>

  <form id="current-filters">
    {% if selected_material %}
      <input type="hidden" name="material" value="{{ selected_material }}">
    {% endif %}
    {% for eid in enchantment_filter %}
      <input type="hidden" name="enchantments" value="{{ eid }}">
    {% endfor %}
  </form>
</div>