{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/order_detail.css' %}">
    <div class="market-container">
        {% include "market_sb.html" %}
        <div class="item-type-block">
            <img src="{% static 'media/item_types/axe.png' %}" alt="material" class="item-type-image">

            <div class="item-type-title">
                <h1>{{ item_type.name }}</h1>
                <p>{{ item_type.description }}</p>
            </div>
        </div>

        <h3>Orders:</h3>
        <table class="order-table">
            <thead>
                <tr>
                    <th>Seller</th>
                    {% if selected_type.materials.exists %}
                        <th>
                            <form method="get" id="material-filter-form">
                                <div class="material-label">Material</div>
                                <div class="material-select-wrapper">
                                    <select name="material" onchange="document.getElementById('material-filter-form').submit()" class="material-select">
                                        <option value="">any</option>
                                        {% for id, name in materials %}
                                            <option value="{{ id }}" {% if selected_material == id %}selected{% endif %}>{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% if current_sort %}
                                    <input type="hidden" name="sort" value="{{ current_sort }}">
                                {% endif %}
                                {% if current_direction %}
                                    <input type="hidden" name="direction" value="{{ current_direction }}">
                                {% endif %}
                            </form>
                    {% endif %}
                    {% if selected_type.enchantments.exists %}
                        <th>
                            <button type="button" class="enchants-expand-btn">Enchants ⬇</button>
                        </th>
                    {% endif %}
                    {% for field in sort_fields %}
                        <th>
                            <a href="?material={% if selected_material %}{{selected_material}}{% else %}{% endif %}&sort={{ field }}&direction={% if current_sort == field and current_direction == 'asc' %}desc{% else %}asc{% endif %}"
                               class="sortable {% if current_sort == field %}sorted {{ current_direction }}{% endif %}"
                               data-field="{{ field }}">
                                {{ field|capfirst }}
                                <span class="sort-icon"></span>
                            </a>
                        </th>
                    {% endfor %}
                    <th class="buy-button-container">-</th>
                </tr>
            </thead>

            <tbody>
                {% for order in object_list %}
                    <tr>
                        <td>
                            <a class="mc-username-link-cell" href="{% url 'public_profile' order.created_by.mc_username %}">
                                <img src="https://mc-heads.net/avatar/{{ order.created_by.mc_username }}/20"
                                     alt="MC Head"
                                     class="mc-avatar">

                                <span>{{ order.created_by.mc_username }}</span>
                            </a>
                        </td>

                        {% if order.material %}
                            <td>
                                <div class="mc-username-cell">
                                    {% if order.material.icon %}
                                        <img src="{{ order.material.icon.url }}"
                                             alt="material"
                                             class="mc-avatar">
                                    {% endif %}
                                    {{ order.material }}
                                </div>
                            </td>
                        {% endif %}

                        {% if order.enchantments.exists or selected_type.enchantments.exists %}
                            <td>
                                {% with enchant_count=order.orderenchantment_set.count %}
                                    <button class="enchant-toggle-btn">
                                        {% if enchant_count > 0 %}
                                            {{ "★"|repeat:enchant_count }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </button>
                                    {% if enchant_count > 0 %}
                                    <div class="enchant-list-wrapper hidden">
                                        <ul class="enchant-list ">
                                            {% for oe in order.orderenchantment_set.all %}
                                                <li>{{ oe.enchantment.name }} <span>{{ oe.level|romanize }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endif %}

                        <td class="price-column">
                            <div class="mc-username-cell">
                                <span>{{ order.price }}</span>

                                <img src="{% static 'media/price-icon.png' %}" alt="#" class="mc-avatar">
                            </div>
                        </td>

                        <td class="quantity-column">
                            <div class="mc-username-cell">
                                <span>{{ order.quantity }}</span>

                                <img src="{% static 'media/quantity-icon.png' %}" alt="#" class="mc-avatar-q">
                            </div>
                        </td>

                        <td class="buy-button-container">
                            <div class="buy-button-wrapper">
                                <button class="buy-button" onclick="handleBuy(this)"
                                        data-clipboard="{{ mc_server_wisper_command }} {{ order.created_by.mc_username }} Hi! I want to buy - {{ item_type.name|capfirst }}[{{ order.material }}] x1 for {{ order.price }}. RedMarket">
                                    Buy
                                </button>
                                <button class="close-button hidden" onclick="handleClose(this)">
                                    Close
                                </button>
                            </div>
                            <div class="buy-clipboard-wrapper hidden">
                                <span class="buy-clipboard-message"></span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if not object_list %}
            <p>No orders found for this item type.</p>
        {% endif %}

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}&direction={{ current_direction }}{% if selected_material %}&material={{ selected_material }}{% endif %}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}&direction={{ current_direction }}{% if selected_material %}&material={{ selected_material }}{% endif %}">Next</a>
            {% endif %}
        </div>
    </div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const toggleAllBtn = document.querySelector(".enchants-expand-btn");
    const enchantSections = document.querySelectorAll(".enchant-list-wrapper");
    let expanded = false;

    toggleAllBtn.addEventListener("click", function () {
        expanded = !expanded;
        enchantSections.forEach(section => {
            section.classList.toggle("hidden", !expanded);
        });
        toggleAllBtn.textContent = expanded ? "Enchants ⬆" : "Enchants ⬇";
    });

    // Correct way: toggle class instead of style
    document.querySelectorAll(".enchant-toggle-btn").forEach(btn => {
        btn.addEventListener("click", function () {
            const list = this.nextElementSibling;
            if (list) {
                list.classList.toggle("hidden");
            }
        });
    });
});
function handleBuy(button) {
    const wrapper = button.closest(".buy-button-container");
    const messageWrapper = wrapper.querySelector(".buy-clipboard-wrapper");
    const message = wrapper.querySelector(".buy-clipboard-message");
    const closeButton = wrapper.querySelector(".close-button");

    const textToCopy = button.dataset.clipboard;

    navigator.clipboard.writeText(textToCopy).then(() => {
        message.textContent = `Copied: ${textToCopy}`;
        messageWrapper.classList.remove("hidden");
        button.classList.add("hidden");
        closeButton.classList.remove("hidden");
    }).catch(err => {
        console.error("Copy failed", err);
    });
}

function handleClose(button) {
    const wrapper = button.closest(".buy-button-container");
    const buyButton = wrapper.querySelector(".buy-button");
    const messageWrapper = wrapper.querySelector(".buy-clipboard-wrapper");

    messageWrapper.classList.add("hidden");
    buyButton.classList.remove("hidden");
    button.classList.add("hidden");
}
</script>
{% endblock %}
